/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

*.log
/storage
/tests
/public/useruploads/image/*
/public/useruploads/logo/*
/public/vendor/*
!/public/vendor/uikit
/public/hybridauth

*.pem
*.crt
.nbproject
/nbproject/private/